.recruiter .about {
	position: relative;
	z-index: 2;
	padding-top: 22px;
	background: #fff;
    //transform: translate3d(0,0,0);
    backface-visibility: hidden;
	
	@media (min-width: @desktop) {
		padding-top: 180px;
	}
	
	h2 {
		text-transform: uppercase;
		text-align: center;
		font-size: 25px;
		margin-bottom: 30px;
		font-weight: 300;
		letter-spacing: 1px;
	}
	
	&-box {
		position: relative;
		z-index: 20;
	}
	
	&-item {
		text-align: center;
		padding: 22px 0;
		
		img {
			display: inline-block;
			height: 60px;
			margin-bottom: 13px;
		}
		
		a {
			display: inline-block;
			
			&:hover {
				text-decoration: none;
			}
		}
		
		@media (max-width: @tablet) {
			&:after {
				content: '';
				position: absolute;
				background: #d2d2d2;
				width: 100%;
				height: 1px;
				right: 0;
				bottom: 0;
			}
		}
		
		@media (min-width: @tablet) {
			&:not(:last-of-type):after {
				content: '';
				position: absolute;
				background: #d2d2d2;
				width: 1px;
				height: 80%;
				top: 10%;
				right: 0;
			}
		}
	}
	
	&-name {
		color: #1d1d1b;
		font-weight: 200;
		font-size: 20px;
		//max-width: 90%;
		margin: auto;
		text-align: center;
		line-height: 24px;
	}
}