.recruiter-carousel {
	.carousel {
		background-image: linear-gradient(to bottom right, #131313 0%, #393737 100%);
		padding-top: 60px;
		
	    .container {
	        padding: 0;
	        position: relative;
	        height: 100%;
	    }
		
		&-indicators {
			bottom: 25px;
			
	        li {
	            text-indent: 0;

	            img {
	            	display: none;
	            	transition: transform .4s linear;
					max-height: 100%;

					@media (min-width: @desktop) {
					    display: inline-block;
					}
	            }

	            &.three img {
	            	height: 58px;
	            }
	            
	            @media (min-width: @desktop) {
					margin: 0;
	                margin-right: 110px !important;
	                width: 20%;
	                height: 58px;
	                vertical-align: middle;
	                border: none;
					backface-visibility: hidden;
					opacity: .5;
					transition: .4s;
					
					&:last-child {
						margin-right: 0 !important;
					}
					
					&:hover {
						opacity: 1;
					}
	                
	                &.active {
	                    width: 20%;
	                    height: 58px;
						opacity: 1;

						img {
	                    	transform: scale(1.35);
	                    }
						
						&:last-child {
							margin-right: 0 !important;
						}
	                }
	            }
	        }
	        
	        @media (max-width: @desktop) {
	            bottom: 120px;
	        }

	        @media (min-width: @mobile) and (max-width: @tablet) {
	            width: 100%;
	            margin-left: -50%;
	        }
		}
		
		&-control {
			margin-top: 65px;
		}
		
		.item {
			height: 430px;
			
			img {
				float: left;
				max-height: 100%;
				position: absolute;
				bottom: 0;
			}
			
			&-content {
				text-align: center;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
	            
	            @media (max-width: @mobile) {
	                top: 35%;
	            }
				
				@media (min-width: @tablet) {
					width: 60%;
					float: right;
				}
			}
			
			&-name {
				position: absolute;
				color: #fff;
				bottom: 35px;
				right: 0;
				text-align: center;
				line-height: 20px;
				letter-spacing: 1px;
				font-size: 20px;
				font-weight: 200;
				
				span {
					font-size: 16px;
				}

				@media (max-width: @tablet) {
				    left: 50%;
				    transform: translateX(-50%);
				}

				@media (min-width: @tablet) {
				    right: 0;
				}
			}
	        
	        @media (max-width: @mobile) {
	            height: 350px;
	        }
		}
	}

	.carousel-inner {
		transform: translateZ(0);
	}

	.indicators {
		position: absolute;
		width: 100%;
		height: 110px;
		background: #f9f9f9;
		
		@media (min-width: @desktop) {
			bottom: -135px;
		}
	}

	.slogan {
		position: relative;
		max-width: 75%;
	    font-size: 16px;
		line-height: 22px;
	    color: #fff;
	    margin: 0 auto 52px;
		font-weight: 200;
		letter-spacing: 1px;
		
		&:after {
			content: '';
			position: absolute;
			height: 1px;
			width: 68%;
			left: 50%;
			margin-left: -34%;
			bottom: -25px;
			background: #fff;
		}
		
	    @media (min-width: @desktop) {
	        font-size: 19px;
	    }
	}

	.register {
	    background: #3bc6b3;
	    color: #fff;
	    border-radius: 7px;
	    padding: 6px 12px;
	    font-weight: 600;
	    transition: background .2s linear;
		letter-spacing: 1px;
		
		&:hover {
			text-decoration: none;
			color: #fff;
			background: lighten(#3bc6b3, 10%);
		}
		
	    @media (min-width: @desktop) {
	        padding: 8px 15px;
	    }
	}

	.align-top,
	.align-bottom {
	    display: table-row;
	    height: 50%;
		text-align: center;
	}

	.align-top {
	    position: relative;
	}

	.align-bottom {
	    color: #fff;
	    font-weight: 300;
	}

	.name {
	    text-transform: uppercase;
	    margin-bottom: 10px;
	    letter-spacing: 1px;
	    font-size: 16px;
		font-weight: 200;
	    
	    @media (min-width: @tablet) {
	        font-size: 20px;
	    }
	}

	.position {
		letter-spacing: 1px;
		font-weight: 200;
	}

	.name-wrap {
	    position: absolute;
	    bottom: 35px;
	    left: 50%;
	    transform: translateX(-50%);
	    
	    @media (min-width: @desktop) {
	        bottom: 55px;
	    }
	}
}

.recruiter .carousel-arrow {
	display: none;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(8, 179, 156, 0);
	border-top-color: #2F2E2E;
	border-width: 18px;
	margin-left: -18px;
	top: 0;
	transform: translateZ(0);
	transition: left .2s linear;
	backface-visibility: visible;
	z-index: 4;
	
	@media (max-width: @desktop) {
		display: none !important;
	}
}