.recruiter {
    .wrapper {
        position: relative;
        z-index: 2;
        background-image: linear-gradient(to bottom right, #131313 0%, #393737 100%);
    }
    .features {
        position: relative;
        z-index: 2;
        padding-bottom: 70px;
        color: #fff;
        overflow-x: hidden;
        .container {
            position: relative;
        }
        @media (min-width: @desktop) {
            > section {
                height: 100vh;
                .container {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -45%);
                }
            }
        }
        &-preview {
            padding: 0;
            text-align: center;
            display: none;
            img {
                display: inline-block;
                max-width: 60%;
            }
            @media (max-width: @mobile) {}
            @media (min-width: @tablet) {
                padding-top: 50px;
                img {
                    max-width: 80%
                }
            }
            @media (min-width: @large) {
                img {
                    max-width: 75%;
                }
            }
            @media (min-width: 1400px) {
                img {
                    max-width: 90%;
                }
            }
        }
        &-about {
            text-align: center;
            position: absolute;
            display: none;
            img {
                height: 40px;
            }
            h3 {
                font-size: 24px;
                margin: 10px 0 15px;
            }
            p {
                color: #cfcfcf;
                font-size: 14px;
                line-height: 22px;
            }
            @media (max-width: @mobile) {
                width: 90%;
            }
            @media (min-width: @tablet) {
                max-width: 390px;
                text-align: left;
                bottom: 90px;
                img {
                    height: 30px;
                }
            }
            @media (min-width: @desktop) {
                img {
                    height: 40px;
                }
                h3 {
                    font-size: 30px;
                    margin: 0 0 20px;
                }
                p {
                    font-size: 17px;
                    line-height: 22px;
                }
            }
        }
    }
    #video {
        z-index: 2;
        position: relative;
        padding-top: 70px;
        .features-preview {
            animation: fadeInLeft 1s both;
        }
        .features-about {
            animation: fadeInRight 1s both;
        }
        @media (max-width: @mobile) {
            .features-about {
                bottom: -40px;
            }
        }
        @media (min-width: @tablet) {
            .features-preview {
                text-align: right;
            }
            .features-about {
                float: right;
                text-align: left;
                left: calc(50% + 15px);
            }
        }
        @media (min-width: @desktop) {
            .features-preview {
                //padding-top: 75px;
            }
        }
    }
    #oneClick {
        z-index: 2;
        position: relative;
        margin-top: -1px;
        .features-about {
            animation: fadeInLeft 1s both;
        }
        .features-preview {
            animation: fadeInRight 1s both;
        }
        @media (max-width: @mobile) {
            padding-top: 70px;
            .features-about {
                bottom: -40px;
            }
        }
        @media (min-width: @tablet) {
            background-size: 200px;
            .features-about {
                text-align: right;
                bottom: 120px;
                right: calc(50% + 15px);
            }
            .features-preview {
                padding-top: 80px;
                text-align: left;
                float: right;
            }
        }
        @media (min-width: @desktop) {
            background-size: 300px;
            .features-preview {
                //padding-top: 120px;
            }
        }
    }
    #tracking {
        z-index: 2;
        position: relative;
        padding-bottom: 50px;
        .features-about {
            animation: fadeInRight 1s both;
        }
        .features-preview {
            animation: fadeInLeft 1s both;
        }
        @media (max-width: @mobile) {
            padding-top: 70px;
            .features-preview {
                img {
                    height: 400px;
                }
            }
            .features-about {
                bottom: -80px;
            }
        }
        @media (min-width: @tablet) {
            background-position: left bottom;
            background-size: 180px;
            .features-preview {
                text-align: right;
                padding-top: 100px;
            }
            .features-about {
                text-align: left;
                bottom: 340px;
                right: 0;
            }
        }
        @media (min-width: @desktop) {
            background-size: 250px;
            .features-preview {
                padding-top: 170px;
            }
            .features-about {
                bottom: 300px;
                left: calc(50% + 15px);
            }
        }
    }
    .clients {
        position: relative;
        padding: 50px 0;
        background: #fff;
        z-index: 2;
        .item {
            height: 100px;
        }
        h2 {
            text-transform: uppercase;
            text-align: center;
            font-size: 32px;
            margin-bottom: 50px;
            letter-spacing: 1px;
            color: #34495e;
        }
        a {
            display: block;
            text-align: center;
            height: 100px;
            filter: grayscale(40%);
            transition: -webkit-filter .2s linear;
            &:hover {
                filter: grayscale(0);
            }
        }
        img,
        svg {
            margin: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        @media (max-width: @desktop) {
            img,
            svg {
                max-height: 80%;
            }
        }
        @media (min-width: @desktop) {
            img,
            svg {
                max-width: 85%;
            }
        }
    }
    .carousel-showmanymoveone .carousel-control {
        width: 4%;
        background-image: none;
    }
    .carousel-showmanymoveone .carousel-control.left {
        margin-left: 15px;
    }
    .carousel-showmanymoveone .carousel-control.right {
        margin-right: 15px;
    }
    .carousel-showmanymoveone .cloneditem-1,
    .carousel-showmanymoveone .cloneditem-2,
    .carousel-showmanymoveone .cloneditem-3 {
        display: none;
    }
    @media all and (min-width: 768px) {
        .carousel-showmanymoveone .carousel-inner > .active.left,
        .carousel-showmanymoveone .carousel-inner > .prev {
            left: -50%;
        }
        .carousel-showmanymoveone .carousel-inner > .active.right,
        .carousel-showmanymoveone .carousel-inner > .next {
            left: 50%;
        }
        .carousel-showmanymoveone .carousel-inner > .left,
        .carousel-showmanymoveone .carousel-inner > .prev.right,
        .carousel-showmanymoveone .carousel-inner > .active {
            left: 0;
        }
        .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
            display: block;
        }
    }
    @media all and (min-width: 768px) and (transform-3d),
    all and (min-width: 768px) and (-webkit-transform-3d) {
        .carousel-showmanymoveone .carousel-inner > .item.active.right,
        .carousel-showmanymoveone .carousel-inner > .item.next {
            -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
            left: 0;
        }
        .carousel-showmanymoveone .carousel-inner > .item.active.left,
        .carousel-showmanymoveone .carousel-inner > .item.prev {
            -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
            left: 0;
        }
        .carousel-showmanymoveone .carousel-inner > .item.left,
        .carousel-showmanymoveone .carousel-inner > .item.prev.right,
        .carousel-showmanymoveone .carousel-inner > .item.active {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            left: 0;
        }
    }
    @media all and (min-width: 992px) {
        .carousel-showmanymoveone .carousel-inner > .active.left,
        .carousel-showmanymoveone .carousel-inner > .prev {
            left: -25%;
        }
        .carousel-showmanymoveone .carousel-inner > .active.right,
        .carousel-showmanymoveone .carousel-inner > .next {
            left: 25%;
        }
        .carousel-showmanymoveone .carousel-inner > .left,
        .carousel-showmanymoveone .carousel-inner > .prev.right,
        .carousel-showmanymoveone .carousel-inner > .active {
            left: 0;
        }
        .carousel-showmanymoveone .carousel-inner .cloneditem-2,
        .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
            display: block;
        }
    }
    @media all and (min-width: 992px) and (transform-3d),
    all and (min-width: 992px) and (-webkit-transform-3d) {
        .carousel-showmanymoveone .carousel-inner > .item.active.right,
        .carousel-showmanymoveone .carousel-inner > .item.next {
            -webkit-transform: translate3d(25%, 0, 0);
            transform: translate3d(25%, 0, 0);
            left: 0;
        }
        .carousel-showmanymoveone .carousel-inner > .item.active.left,
        .carousel-showmanymoveone .carousel-inner > .item.prev {
            -webkit-transform: translate3d(-25%, 0, 0);
            transform: translate3d(-25%, 0, 0);
            left: 0;
        }
        .carousel-showmanymoveone .carousel-inner > .item.left,
        .carousel-showmanymoveone .carousel-inner > .item.prev.right,
        .carousel-showmanymoveone .carousel-inner > .item.active {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            left: 0;
        }
    }
}
