/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-pricing-container {
    background-image: linear-gradient(to bottom right, #131313 0, #393737 100%);
    z-index: 2;
    position: relative;
    width: 100%;
    padding: 40px 0;
}

.cd-pricing-switcher {
  text-align: center;
}
.cd-pricing-switcher .fieldset {
  display: inline-block;
  position: relative;
  padding: 2px;
  border-radius: 50em;
  border: 1px solid #3bc6b3;
}
.cd-pricing-switcher input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.cd-pricing-switcher label {
  position: relative;
  z-index: 1;
  display: inline-block;
  float: left;
  width: 90px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
}
.cd-pricing-switcher .cd-switch {
  /* floating background */
  position: absolute;
  top: 2px;
  left: 2px;
  height: 40px;
  width: 90px;
  background-color: #3bc6b3;
  border-radius: 50em;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.cd-pricing-switcher input[type="radio"]:checked + label + .cd-switch,
.cd-pricing-switcher input[type="radio"]:checked + label:nth-of-type(n) + .cd-switch {
  /* use label:nth-of-type(n) to fix a bug on safari with multiple adjacent-sibling selectors*/
  -webkit-transform: translateX(90px);
  -ms-transform: translateX(90px);
  transform: translateX(90px);
}

.no-js .cd-pricing-switcher {
  display: none;
}

.cd-pricing-list {
  margin: 3em 0 0;
}
.cd-pricing-list > li {
  position: relative;
  margin-bottom: 1em;
  max-width: 350px;
  margin: auto;
}
.cd-pricing-list:after {
  content: "";
  display: table;
  clear: both;
}

.cd-pricing-wrapper {
  /* this is the item that rotates */
  position: relative;
}
.touch .cd-pricing-wrapper {
  /* fix a bug on IOS8 - rotating elements dissapear*/
  -webkit-perspective: 2000px;
  perspective: 2000px;
}
.cd-pricing-wrapper.is-switched {
  /* totate the tables - anticlockwise rotation */
}
.cd-pricing-wrapper.is-switched .is-visible {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-animation: cd-rotate 0.5s;
  animation: cd-rotate 0.5s;
}
.cd-pricing-wrapper.is-switched .is-hidden {
  -webkit-transform: rotateY(0);
  -ms-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-animation: cd-rotate-inverse 0.5s;
  animation: cd-rotate-inverse 0.5s;
  opacity: 0;
}
.cd-pricing-wrapper.is-switched .is-selected {
  opacity: 1;
}
.cd-pricing-wrapper.is-switched.reverse-animation {
  /* invert rotation direction - clockwise rotation */
}
.cd-pricing-wrapper.is-switched.reverse-animation .is-visible {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-animation: cd-rotate-back 0.5s;
  animation: cd-rotate-back 0.5s;
}
.cd-pricing-wrapper.is-switched.reverse-animation .is-hidden {
  -webkit-transform: rotateY(0);
  -ms-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-animation: cd-rotate-inverse-back 0.5s;
  animation: cd-rotate-inverse-back 0.5s;
  opacity: 0;
}
.cd-pricing-wrapper.is-switched.reverse-animation .is-selected {
  opacity: 1;
}
.cd-pricing-wrapper > li {
  min-height: 500px;
  background: #2c3e50;
  background-image: linear-gradient(to bottom, #000000, #2c3e50);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  outline: 1px solid transparent;
  padding-bottom: 110px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Firefox bug - 3D CSS transform, jagged edges */
  outline: 1px solid transparent;
}
.cd-pricing-wrapper > li::before {
  /* separator between pricing tables - visible when number of tables > 3 */
  content: '';
  position: absolute;
  z-index: 6;
  left: -1px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 50%;
  width: 1px;
}
.cd-pricing-wrapper > li.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  display: none;
}
.cd-pricing-wrapper .is-visible {
  /* the front item, visible by default */
  position: relative;
  z-index: 5;
}
.cd-pricing-wrapper .is-hidden {
  /* the hidden items, right behind the front one */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.cd-pricing-wrapper .is-selected {
  /* the next item that will be visible */
  z-index: 3 !important;
}

.no-js .cd-pricing-wrapper .is-hidden {
  position: relative;
  -webkit-transform: rotateY(0);
  -ms-transform: rotateY(0);
  transform: rotateY(0);
  margin-top: 1em;
}

.cd-pricing-header {
  position: relative;
  z-index: 1;
  height: auto;
  padding: 1.9em 0.9em 1.6em;
  pointer-events: auto;
  color: #fff;
  text-align: center;
}
.cd-pricing-header h2 {
  margin-bottom: 3px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
}

.cd-currency, .cd-duration {
  color: #3BC6B3;
}

.cd-currency {
  display: inline-block;
  margin-top: 10px;
  vertical-align: top;
  font-size: 18px;
  font-weight: 700;
}

.cd-duration {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}
.cd-popular .cd-duration {
  color: #f3b6ab;
}
.cd-duration::before {
  content: '/';
  margin-right: 2px;
}

.cd-value {
  font-size: 70px;
  font-weight: 300;
}

.cd-duration {
  font-size: 14px;
}

.cd-pricing-body {
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
}
.is-switched .cd-pricing-body {
  /* fix a bug on Chrome Android */
  overflow: hidden;
}

.cd-pricing-features {
  width: auto;
  color: #fff;
}
.cd-pricing-features li {
  position: relative;
  width: auto;
  padding: 1em;
  font-size: 16px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 3px;
  color: #fff;
}
.cd-pricing-features span {
  font-weight: 600;
  position: absolute;
  right: 1em;
  font-size: 22px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  text-align: center;
}
.cd-pricing-features:after {
  content: "";
  display: table;
  clear: both;
}

.cd-pricing-footer {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1.8em 0;
  text-align: center;
}

.cd-select {
  position: static;
  z-index: 1;
  display: inline-block;
  height: auto;
  /* hide button text on mobile */
  overflow: hidden;
  white-space: nowrap;
  padding: 1.3em 3em;
  color: #fff;
  border-radius: 2px;
  background-color: #0c1f28;
  font-size: 14px;
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.no-touch .cd-select:hover {
  background-color: #112e3c;
  color: #fff;
  text-decoration: none;
}

/* -------------------------------- 

xkeyframes 

-------------------------------- */
@keyframes cd-rotate {
  0% {
    transform: perspective(2000px) rotateY(0);
  }
  70% {
    transform: perspective(2000px) rotateY(200deg);
  }
  100% {
    transform: perspective(2000px) rotateY(180deg);
  }
}
@keyframes cd-rotate-inverse {
  0% {
    transform: perspective(2000px) rotateY(-180deg);
  }
  70% {
    transform: perspective(2000px) rotateY(20deg);
  }
  100% {
    transform: perspective(2000px) rotateY(0);
  }
}
@keyframes cd-rotate-back {
  0% {
    transform: perspective(2000px) rotateY(0);
  }
  70% {
    transform: perspective(2000px) rotateY(-200deg);
  }
  100% {
    transform: perspective(2000px) rotateY(-180deg);
  }
}
@keyframes cd-rotate-inverse-back {
  0% {
    transform: perspective(2000px) rotateY(180deg);
  }
  70% {
    transform: perspective(2000px) rotateY(-20deg);
  }
  100% {
    transform: perspective(2000px) rotateY(0);
  }
}