.team {;
	color: white;
	padding: 80px 0 20px;
	
	&-header {
		font-size: 32px;
		text-transform: uppercase;
		font-weight: 300;
		text-align: center;
		margin: 20px 0;
	}

	&-members {
		padding: 20px 0 30px;
	}

	&-member {
		text-align: center;

		.linkedin {
			display: inline-block;
			vertical-align: middle;
			width: 16px;
			margin-left: 5px;
			margin-right: 1px;
			height: 16px;
			background-image: url('../images/recruiter/linkedin.svg');
			background-repeat: no-repeat;
			background-size: contain;
			background-color: #fff;
			border-radius: 2px;
		}

		.mail {
			display: inline-block;
			vertical-align: middle;
			height: 16px;
			width: 20px;
			background: url('../images/recruiter/mail.svg') no-repeat center center;
		}
	}

	.first-line,
	.second-line,
	.third-line {
		display: flex;
		justify-content: center;
	}

	.first-line,
	.second-line {
		.member-photo {
			
		}
	}

	.first-line {
		.team-member {
			width: calc(100%/3 - 12%);

			&:nth-of-type(2) {
				margin: 0 2%;
			}
		}
	}

	.second-line .team-member {
		width: calc(100%/3 - 3%);

		&:nth-of-type(2) {
			margin: 0 3%;
		}
	}

	.third-line .team-member {
		width: calc(100%/4);
	}
}

.member {
	&-photo {
		border-radius: 50%;
		overflow: hidden;
		max-width: 165px;
		max-height: 165px;
		margin: auto;

		img {
			width: 100%;
			-webkit-user-drag: none;
			-moz-user-select: none;
			user-drag: none;
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
	}

	&-name {
		margin-top: 10px;
		font-size: 24px;
	}

	&-position {
		font-weight: 300;
		display: inline-block;
		vertical-align: middle;
	}
}