.landing .about {
	position: relative;
	padding-top: 22px;
	background: #fff;
	z-index: 2;
	
	h2 {
		text-transform: uppercase;
		text-align: center;
		font-size: 25px;
		margin: 22px 0;
		font-weight: 300;
		letter-spacing: 1px;
	}
	
	&-box {
		position: relative;
		background: #f9f9f9;
		z-index: 20;
	}
	
	&-item {
		text-align: center;
		padding: 22px 0;
		
		img, svg {
			display: inline-block;
			height: 60px;
            width: 60px;
			margin-bottom: 13px;
			z-index: 2;
            border-radius: 50%;
            background: #e8e8e8;
            transition: all .2s linear;
            
            path {
                fill: #9e9e9e;
            }
		}
		
		a {
			position: relative;
			display: inline-block;
			user-select: none;
			
			#click ellipse {
				fill: none;
				stroke: #9E9E9E;
				transition: stroke .2s ease-in;
			}
			
			#click path {
				fill: #9E9E9E;
			}
			
			&:before {
				content: '';
				position: absolute;
				top: -3px;
				left: 50%;
				height: 66px;
				width: 66px;
				margin-left: -33px;
				box-shadow: 0 0 0 2px @brand-green;
				border-radius: 50%;
				z-index: -1;
				transform: scale(.8);
				opacity: 0;
				transition: transform 0.2s, opacity 0.2s;
			}
			
             &:hover .icon-hover {
                background: @brand-green;
                
                path {
                    fill: #e8e8e8;
                }
            }
            
			&:hover {
				text-decoration: none;
				
				p {
					color: black;
				}	
				
				&:before {
					transform: scale(1);
					opacity: 1;
				}
			}
			
			&:focus {
				outline: none;
			}
		}
		
		@media (max-width: @tablet) {
			&:after {
				content: '';
				position: absolute;
				background: #d2d2d2;
				width: 100%;
				height: 1px;
				right: 0;
				bottom: 0;
			}
		}
		
		@media (min-width: @tablet) {
			&:not(:last-of-type):after {
				content: '';
				position: absolute;
				background: #d2d2d2;
				width: 1px;
				height: 80%;
				top: 10%;
				right: 0;
			}
		}
	}
	
	&-name {
		color: #4b4b49;
		font-weight: 200;
		font-size: 20px;
		max-width: 90%;
		margin: auto;
		text-align: center;
		line-height: 24px;
		transform: translate3d(0,0,0);
	}
    
    @media (min-width: @desktop) {
		padding-top: 180px;
        
        h2 {
            margin-bottom: 30px;
        }
	}
}