.landing-carousel {
	.carousel {
		z-index: 3;
		
	    .container {
	        padding: 0;
	        position: relative;
	        height: 100%;
	    }
		
		&-inner {
			background: url("../images/landing/slider-sm.jpg") no-repeat center center;
			background-size: cover;

			@media (min-width: @tablet) {
			    background: url("../images/landing/slider-md.jpg") no-repeat center center;
				background-size: cover;
			}

			@media (min-width: @desktop) {
			    background: url("../images/landing/slider-lg.jpg") no-repeat center center;
				background-size: cover;
			}
		}
		
		&-indicators {
			bottom: 10px;
	        user-select: none;
			
	        li {
	            text-indent: 0;

	            img {
	            	display: none;
	            	transition: transform .4s linear;
					max-width: 100%;
					
					@media (min-width: @desktop) {
					    display: inline-block;
					}
	            }
	            
	            @media (min-width: @desktop) {
					margin: 0;
	                margin-right: 118px !important;
	                width: 58px;
	                height: 58px;
	                border-radius: 50%;
	                vertical-align: middle;
	                border: none;
					backface-visibility: hidden;
					
					&:last-child {
						margin-right: 0 !important;
					}
	                
	                &.active {
	                    width: 58px;
	                    height: 58px;
	                    
	                    img {
	                    	transform: scale(1.35);
	                    }
						
						&:last-child {
							margin-right: 0 !important;
						}
	                }
	            }
	        }
	        
	        @media (min-width: @desktop) {
	            bottom: -112px;
	        }
		}
		
		.item {
	        text-align: right;
			height: 235px;
	        
	        @media (min-width: @desktop) {
	            height: 435px;
	        }
	        
			img {
	            display: inline-block;
	            
	            @media (min-width: @desktop) {
	                margin-top: 15px;
	                height: 420px;
	            }
	            
	            @media (max-width: @desktop) {
	                display: none;
	            }
			}
	        
	        &-content {
	            width: 100%;
	            height: 100%;
	            position: absolute;
	            z-index: 22;
	            top: 0;
	            
	            .col-md-7 {
	                display: table;
	                height: 100%;
	            }
	        }
		}
	}

	.slogan {
	    font-size: 24px;
	    color: #fff;
	    margin: 35px 0 25px;
		font-weight: 200;
		letter-spacing: 1px;

	    @media (min-width: @desktop) {
	        margin: 100px 0 48px;
	        font-size: 36px;
	    }
	}

	.register {
		position: relative;
		display: inline-block;
		overflow: hidden;
	    background: #f75f56;
	    color: #fff;
	    border-radius: 7px;
	    padding: 6px 10px;
	    transition: background .2s linear;
		letter-spacing: 1px;
		
		&:after {
			content: '';
			position: absolute;
			width: 20%;
			height: 250%;
			background: rgba(255,255,255,0.15);
			z-index: 1;
			right: 0;
			top: 0;
			margin: -40px -40px 0 0;
			transform-origin: 0 0;
			transform: rotate(25deg);
			transition: all 0.3s;
		}
		
		&:hover,
		&:focus {
			text-decoration: none;
			color: #fff;
			outline: none;
		}
		
		&:hover {
			background: darken(#f75f56, 5%);
			
			&:after {
				width: 30%;
			}
		}
		
		@media (max-width: @mobile) {
			max-width: 80%;
		}
		
		@media (min-width: @tablet) {
			padding: 10px 14px;
		}
		
	    @media (min-width: @desktop) {
	        font-size: 22px;
	        padding: 20px 30px;
	    }
	}

	.align-top,
	.align-bottom {
	    display: table-row;
	    height: 50%;
		text-align: center;
	}

	.align-top {
	    position: relative;
	}

	.align-bottom {
	    color: #fff;
	    font-weight: 300;
	}

	.name {
	    text-transform: uppercase;
	    margin-bottom: 10px;
	    letter-spacing: 1px;
	    font-size: 16px;
		font-weight: 200;
	    
	    @media (min-width: @tablet) {
	        font-size: 20px;
	    }
	}

	.position {
		letter-spacing: 1px;
		font-weight: 200;
	}

	.name-wrap {
	    position: absolute;
	    bottom: 35px;
	    left: 50%;
	    transform: translateX(-50%);
	    
	    @media (min-width: @desktop) {
	        bottom: 55px;
	    }
	}
}

.landing {
	.carousel-arrow {
		display: none;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(8, 179, 156, 0);
		border-top-color: #08b39c;
		border-width: 18px;
		margin-left: -18px;
		top: 0;
		transform: translateZ(0);
		transition: left .2s linear;
		backface-visibility: visible;

		@media (max-width: @desktop) {
			display: none !important;
		}
	}
}