#register {
	z-index: 2;
    position: relative;
    min-height: 562px;
}

.register-box {
	background: #f9f9f9;
	padding: 80px 0;
	text-align: center;
	
	@media (min-width: @tablet) {
		padding: 120px 0;
	}
	
	img {
        visibility: hidden;
		width: 180px;
        max-height: 160px;
		margin-bottom: 30px;
		animation-delay: .2s;
	}

	form {
		display: block;
	}

	p {
		display: none;
		position: absolute;
		left: 50%;
		bottom: 85px;
		transform: translateX(-50%);
		font-size: 36px;
		text-align: center;
		color: @brand-green;
	}
}

.register-text {
	color: #282828;
	font-size: 26px;
	max-width: 280px;
	letter-spacing: 1px;
	margin: auto;
	animation-delay: .4s;
    visibility: hidden;
}

.register-input {
	display: block;
	position: relative;
	margin: auto;
	margin-top: 40px;
	border: 1px solid #c2c2c2;
	width: 80%;
	height: 40px;
	line-height: 40px;
	font-size: 19px;
	color: #9e9e9e;
	overflow: hidden;
    visibility: hidden;
	animation-delay: .6s;
	
	label {
		display: block;
		font-size: 14px;
		height: 40px;
		width: 100%;
		cursor: text;
		background: #f9f9f9;
		transition: background .2s linear,
					transform .8s cubic-bezier(0.2, 1, 0.3, 1);
		
		span {
			display: block;
			margin-top: -1px;
			height: 40px;
			line-height: 38px;
			border-top: 1px solid #c2c2c2;
			border-bottom: 1px solid #c2c2c2;
			position: relative;
			width: 100%;
			text-align: left;
			padding-left: 8px;
			user-select: none;

			&.collapsed {
				cursor: pointer;
				padding-left: 8px;
				position: absolute;
				background: @brand-green;
				color: #fff;
				left: 0;
				font-size: 10px;
				transition: background .2s linear;

				&:hover {
					background: darken(@brand-green, 5%);
				}

				@media (min-width: @tablet) {
				    padding-left: 20px;
				}
			}
		}

		@media (max-width: @tablet) {
		    font-size: 12px;
		}
		
		&:hover {
			background: #eaeaea;
		}
	}
	
	input {
		position: absolute;
		bottom: -1px;
		left: -1px;
		width: 80%;
		height: 40px;
		line-height: 40px;
		padding-left: 8px;
		transition: transform .8s cubic-bezier(0.2, 1, 0.3, 1);
		transform: translateX(-100%);
		border: none;
		border-radius: 0;
		-webkit-appearance: none;
		
		&:focus {
			outline: none;
		}
	}
	
	@media (min-width: @tablet) {
		width: 510px;
	}
}