.footer {
    position: relative;
    height: 420px;
    background: #222;
    z-index: 1;
    
    .container {
        width: 600px;
        margin-left: -300px;
        left: 50%;
        position: absolute;
        bottom: 120px;
        z-index: 1;

        @media (min-width: @tablet) {
            position: fixed;
        }
    }

    &-wrap {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        @media (min-width: @tablet) {
            display: none;
        }
    }

    .copyright {
        padding: 0;
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 100%;
        font-size: 22px;
        text-align: center;
        
        a {
            color: #c6c6c6;
        }

        @media (min-width: @tablet) {
            position: fixed;
        }

        @media (min-width: @desktop) {
            font-size: 14px;
        }
    }
    
    p {
		font-size: 32px;
    	text-align: center;
    	text-transform: uppercase;
		padding: 20px 0;
        color: white;
        transition: .35s;
    }
    
    ul {
        text-align: center;
        margin-top: 65px;
        
        li {
            display: inline-block;
            position: relative;
            height: 53px;
            width: 53px;
            cursor: pointer;
            z-index: 1;
            
            @media (min-width: @tablet) {
                width: 73px;
                height: 73px;
                margin-right: 45px;
            }
            
            &:last-child {
                margin-right: 0;
            }
        }
        
        a {
            position: absolute;
			background: #2f2f2f;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            animation-delay: .2s;
            transition: .35s;
			
			svg {
				height: 50%;
				width: 50%;
				margin-top: 25%;
			}
			
			&:hover {
				background: #3BC6B3;
                
                svg path {
                    fill: #2f2f2f
                }
			}
        }
    }
}