header.landing {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    
    @media (min-width: @tablet) {
    	border-bottom: 1px solid #f9f9f9;
    }

    .navbar {
		border-radius: 0;
		margin-bottom: 0;
		border: none;

		@media (min-width: @tablet) {
			border: none;
			background: #fff;

			.container {
				padding: 0;
			}
		}

		&-header {
			@media (max-width: @mobile) {
				background: #fff;
				border-bottom: 1px solid #d3d3d3;
			}
		}
		
		&-brand {
			padding: 0;
			margin-left: 0 !important;
			margin-top: 20px;
			height: 30px;
			
			@media (min-width: @desktop) {
				height: 38px;
				margin-top: 13px;
			}
			
			img {
				height: 100%;
				
				@media (max-width: @tablet) {
					margin-left: 15px;
				}
			}
		}
		
		.navbar-nav > li {
			border-bottom: 1px solid #f2f2f2;

			@media (min-width: @tablet) {
				border-bottom: none;
			}

			> a {
				padding: 0;
				color: lighten(#282828, 35%);
				transition: color .2s;
				overflow: hidden;
				
				&:hover {
					color: #282828;
					background: none;
				}
				
				@media (max-width: @mobile) {
					margin-left: 15px;
				}
				
			}
		}

		.navbar-collapse {
			padding-left: 0;
			padding-right: 0;
			background: #fff;
			
			&.in {
				overflow-y: visible;
			}
		}
		
		&-toggle {
			margin-top: 15px;
			margin-bottom: 15px;
			cursor: pointer;
			border-color: #ddd;

			&:not(.collapsed) {
				background: #f2f2f2;
			}

			.icon-bar {
				background-color: #888;
			}
		}
		
		&-nav {
			margin: 0;
			
			@media (max-width: @mobile) {
				width: 100%;
			}
			
			@media (min-width: @tablet) {
				margin-left: 9px;
				line-height: 60px;
			}
			
			>li>a {
				font-size: 17px;
				
				&.btn-rounded {
					margin: 0;
					height: 34px;
					line-height: 34px;
					display: inline-block;
					vertical-align: middle;
					padding: 0 18px;
					border-radius: 14px;
					text-transform: uppercase;
					font-weight: 300;
					border: 1px solid;
					transition: all .2s linear;
					
					&:focus {
						color: @brand-green;
						outline: none;
					}
				}
				
				&.login {
					color: #fff;
					background: @brand-green;
					
					&:hover {
						color: @brand-green;
						background: #fff;
					}
					
					@media (max-width: @mobile) {
						margin-left: 15px;
					}
				}
				
				&.signup {
					color: #fff;
					
					&:hover {
						color: @brand-green;
						background: #fff;
					}
				}

				span {
					position: relative;
					transition: transform 0.3s;
					display: inline-block;

					&:before {
						position: absolute;
						width: 100%;
						font-size: 17px;
						top: 100%;
						content: attr(data-hover);
						transform: translate3d(0, 0, 0);
					}
				}

				@media (min-width: @desktop) {
					&:hover span {
						transform: translateY(-100%);
					}
				}
			}
		}

		&-left {
			a {
				@media (max-width: @mobile) {
					margin: 15px 0;
				}

				@media (min-width: @tablet) {
					padding: 0;
					margin: 20px 6px;
				}

				@media (min-width: @large) {
					margin: 20px 14px;
				}
			}
		}
		
		&-right {
			
			> li {
				display: inline-block;
			}
			
			@media (max-width: @mobile) {
				line-height: 60px;
			}

			@media (min-width: @tablet) {
				margin-left: 0;
			}
		}
	}
}



.dropdown-form {
	display: none;
	position: absolute;
	top: 100%;
	left: -9999px;
	min-width: 325px;
	padding: 15px;
	background: @flat-white;
	color: @flat-navy;
	text-align: center;
	box-shadow: 0 0 1px rgba(0,0,0,0.3),0 3px 10px rgba(0,0,0,0.5);
	opacity: 0;
	transition: transform cubic-bezier(0.35, 1.65, 0.65, 1.1) 250ms,
				opacity ease 250ms;
	transform: translateY(-30px) scaleY(0.9);

	&:before,
	&:after {
		content: '';
		position: absolute;
		display: block;
		border: solid 6px transparent;
		border-top: none !important;
		left: auto;
	}

	&:before {
		top: -7px;
		border-bottom-color: rgba(0,0,0,0.15);
		border-width: 7px;
		right: 16px;
	}

	&:after {
		top: -6px;
		border-bottom-color: #fff;
		right: 17px;
	}

	@media (min-width: @tablet) {
		display: block;
	}

	&.open {
		transform: translateY(0) scaleY(1);
		opacity: 1;
		left: auto;
		right: 0;

		a {
			background-color: transparent;
		}

		.popup-about {
			line-height: 35px;
		}

		.wrap {
			line-height: 1;
			font-size: 12px;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-content: center;
			align-items: center;
		}

		.not-register {
			line-height: 1;
			margin-top: 15px;
		}

		.submit-form {
			display: block;
		}
	}

	.social-login,
	.login-with.fb {
		margin: 0;
	}

	p {
		font-size: 14px;
		line-height: 35px;
	}

	.login-with {
		width: 100%;
		text-align: center;
	}

	.form-group {
		margin-bottom: 10px;
	}

	.form-control {
		padding: 0 10px;
		height: 35px;
		line-height: 35px;
	}

	.submit-form {
		vertical-align: top;
		margin-bottom: 15px;
	}

	.check-box {
		vertical-align: middle;

		:before {
			box-shadow: 0 0 0 (@checkbox-height * .05) @flat-white;
		}
	}
}