header.recruiter {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
	border-bottom: 1px solid #cfcfcf;
    background-image: linear-gradient(to bottom right, #131313 0%, #393737 100%);

    .navbar {
		border-radius: 0;
		margin-bottom: 0;
		
		&-default,
		&-header {
			@media (@tablet) {
				height: 60px;
			}
		}
		
		&-brand {
			padding: 0;
			margin-left: 0 !important;
			margin-top: 17px;
			height: 30px;
			
			@media (min-width: @desktop) {
				height: 38px;
				margin-top: 13px;
			}
			
			img {
				height: 100%;
				
				@media (max-width: @tablet) {
					margin-left: 15px;
				}
			}
		}
		
		&-toggle {
			margin-top: 15px;
			margin-bottom: 15px;
			border-color: #cfcfcf;
			
			span {
				background-color: #888;
			}
		}
		
		&-nav {
			margin: 0;
			
			@media (max-width: @mobile) {
				width: 100%;
			}
			
			@media (min-width: @tablet) {
				margin-left: 9px;
				line-height: 60px;
			}
			
			>li>a {
				font-size: 17px;
				overflow: hidden;
				
				&.btn-rounded {
					margin: 0;
					display: inline-block;
					vertical-align: middle;
					padding: 6px 18px;
					border-radius: 14px;
					font-weight: 300;
					text-transform: uppercase;
					border: 1px solid;
					transition: all .2s linear;
					
					&:focus {
						color: @brand-green;
						outline: none;
					}
				}
				
				&.login {
					color: #cfcfcf;
					
					&:hover {
						color: #fff;
						background: @brand-green;
						border-color: @brand-green;
					}
					
					@media (max-width: @mobile) {
						margin-left: 15px;
					}
				}
				
				&.signup {
					border-color: transparent;
					color: #fff;
					margin-left: 5px;
					background: @brand-green;
					
					&:hover {
						color: #cfcfcf;
						border-color: #cfcfcf;
					}

					@media (min-width: @desktop) {
					    margin-left: 12px;
					}
				}

				span {
					position: relative;
					transition: transform 0.3s;
					display: inline-block;

					&:before {
						color: lighten(#cfcfcf, 15%);
						position: absolute;
						width: 100%;
						font-size: 17px;
						top: 100%;
						content: attr(data-hover);
						transform: translate3d(0, 0, 0);
					}
				}

				&:hover span {
					transform: translateY(-100%);
				}
			}
		}
		
		&-right {
			margin-left: 0;
			
			> li {
				display: inline-block;
			}
			
			@media (max-width: @mobile) {
				line-height: 60px;
			}
		}
		
		@media (min-width: @tablet) {
			border: none;

			.container {
				padding: 0;
			}
		}
		
		@media (max-width: @mobile) {
			background-image: linear-gradient(to bottom right, #131313 0%, #393737 100%);
		}
	}

	.navbar {
		&-nav > li > a {
			padding: 0;
			color: lighten(#cfcfcf, 15%);
			margin-top: 15px;
			margin-bottom: 15px;
			transition: color .2s;

			&:hover {
				color: #cfcfcf;
				background-color: transparent;
			}

			&:focus {
				background: none;
				outline: none;
			}

			@media (max-width: @mobile) {
				border-bottom: 1px solid #f2f2f2;
			}

			@media (min-width: @tablet) {
				margin: 20px 6px;
			}

			@media (min-width: @desktop) {
				margin: 20px 14px;
				font-size: 17px;
			}
		}

		&-collapse {
			padding-left: 0;
			padding-right: 0;

			&.in {
				overflow-y: visible;
			}
		}
	}
}