#sidebar {
    visibility: hidden;
	position: fixed;
	height: 310px;
	left: 1%;
	top: 50%;
	margin-top: -161.5px;
	z-index: 3;
    animation-duration: .5s;

    ul {
        @media (max-width: @mobile) {
            position: absolute;
            left: -9999px;
            opacity: 0;
            transform: translateY(-30px) scaleY(0.9);
            transition: transform cubic-bezier(0.35, 1.65, 0.65, 1.1) 250ms,
                        opacity ease 250ms;

            &.open {
                left: 2%;
                transform: translateY(0) scaleY(1);
                opacity: 1;
            }
        }
    }

	li {
  		margin-bottom: 8px;
  		position: relative;

  		&:last-child {
  			margin-bottom: 0;
  		}

        @media (min-width: @tablet) {
            display: block;
            margin-bottom: 15px;
        }
	}

	a:not(.collapse-sidebar) {
		display: block;
		width: 40px;
  		height: 40px;
  		line-height: 40px;
  		text-align: center;
  		transition: transform .2s linear;

  		&:hover {
  			transform: scale(1.1);
  		}

  		&.mail {
  			background: #2C75CC;
  		}

  		&.in {
  			background: #006699;
  		}

  		&.xing {
  			background: #fff;
  			border: 1px solid fade(@flat-navy, 40%);
  		}

  		&.tw {
  			background-image: linear-gradient(to bottom, #65AAF2 0%, #4C88C8 100%);
  		}

  		&.fb {
  			background: #415399;
  		}

        @media (max-width: @mobile) {
            border-radius: 50%;
        }

        @media (min-width: @tablet) {
            width: 50px;
            height: 50px;
            line-height: 50px;
        }
	}

	svg {
        fill: #fff;
		display: inline-block;
		vertical-align: top;
		height: 50%;
		width: 50%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}
#icon-xing {
    .fill-color1 {
      fill: #195a5f;
    }
    .fill-color2 {
      fill: #cee016;
    }
}

.collapse-sidebar {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    display: block;
    background: #ECECEC;
    text-align: center;
    font-size: 18px;
    border: 1px solid #6C7A89;
    margin-bottom: 8px;

    @media (min-width: @tablet) {
        display: none;
    }
}