<footer id="footer" class="footer">
            <div class="footer-wrap">
                <div class="container">
                    <p>Get in touch</p>
                    <ul>
                        <li>
                            <a href="mailto:info@preparo.de">
                                <svg><use xlink:href="#icon-mail"></use></svg>
                            </a>
                        </li>
                        
                        <li>
                            <a href="https://www.linkedin.com/company/preparo" target="blank">
                                <svg><use xlink:href="#icon-linkedin"></use></svg>
                            </a>
                        </li>
                        
                        <li>
                            <a href="#">
                                <svg><use xlink:href="#icon-xing"></use></svg>
                            </a>
                        </li>
                        
                        <li>
                            <a href="https://twitter.com/preparo1" target="blank">
                                <svg><use xlink:href="#icon-twitter"></use></svg>
                            </a>
                        </li>
                        
                        <li>
                            <a href="https://www.facebook.com/preparo1" target="blank">
                                <svg><use xlink:href="#icon-facebook"></use></svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="copyright"><a href="policies.html">Impressum</a></p>
            </div> <!-- /.footer-wrap -->
        </footer>

        @@include('../components/scripts.html')