<header class="@@header_class">
			<nav class="navbar">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-@@header_type">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>

						<a class="navbar-brand" href="#top">
							<img src="/images/logo.svg" class="img-responsive" alt="Preparo">
						</a>
					</div>
					
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="navbar-@@header_type">
						@@if (header_type === 'landing') {
						<ul class="nav navbar-nav navbar-left">
							<li>
								<a href="recruiter.html" class="menu-link" target="blank"><span data-hover="Für Unternehmen">Für Unternehmen</span></a>
							</li>
							<li>
								<a href="#top" class="menu-link"><span data-hover="Home">Home</span></a>
							</li>
							<li>
								<a href="#landing-features" class="menu-link"><span data-hover="Funktionen">Funktionen</span></a>
							</li>
						</ul>

						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="pages/login.html" id="signup" class="login btn-rounded">Einloggen</a>
								
								@@include('../components/dropdown-login.html')
							</li>
						</ul>
						}
						@@if (header_type === 'recruiter') {
						<ul class="nav navbar-nav">
							<li>
								<a href="#"><span data-hover="Über uns">Über uns</span></a>
							</li>
							<li>
								<a href="#recruiter-features"><span data-hover="Funktionen">Funktionen</span></a>
							</li>
							<li>
								<a href="#team"><span data-hover="Our Team">Our Team</span></a>
							</li>
							<li>
								<a href="#clients"><span data-hover="Preise">Preise</span></a>
							</li>
							<li>
								<a href="#footer"><span data-hover="Kontakt">Kontakt</span></a>
							</li>
						</ul>

						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="login.html" id="signup" class="login btn-rounded">Einloggen</a>

								@@include('../components/dropdown-login.html')
							</li>
						</ul>
						}
						@@if (header_type === 'register') {
						<ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="login.html" id="signup" class="login btn-rounded">Einloggen</a>
                                
                                @@include('../components/dropdown-login.html')
                            </li>
                        </ul>
						}
						@@if (header_type === 'login') {
						<ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="register.html" class="login btn-rounded">Registrieren</a>
                            </li>
                        </ul>
                        }
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container -->
			</nav><!-- /.navbar -->
		</header>