<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		
		<!-- Favicons -->
		<!-- For third-generation iPad with high-resolution Retina display: -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/@@favicon-type/apple-touch-icon-144x144-precomposed.png">
		<!-- For iPhone with high-resolution Retina display: -->
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/@@favicon-type/apple-touch-icon-114x114-precomposed.png">
		<!-- For first- and second-generation iPad: -->
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/@@favicon-type/apple-touch-icon-72x72-precomposed.png">
		<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
		<link rel="apple-touch-icon-precomposed" href="/images/@@favicon-type/apple-touch-icon-144x144-precomposed.png">
		<!-- For desktop browser -->
		<link rel="shortcut icon" href="/images/@@favicon-type/favicon.ico" type="image/x-icon">
		
		<title>@@title</title>

		<!-- Load font -->
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600' rel='stylesheet' type='text/css'>

		<!-- Bootstrap -->
		<link href="/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- Font Awesome -->
		<link href="/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		
		<!-- CSS -->
		<link href="/css/style.min.css" rel="stylesheet">
		
		<!-- Fonts Loader from HTML5 LocalStorage -->
		<script>
		!function(){function e(e,t,o){e.addEventListener?e.addEventListener(t,o,!1):e.attachEvent&&e.attachEvent("on"+t,o)}function t(e){return window.localStorage&&localStorage.font_css_cache&&localStorage.font_css_cache_file===e}function o(){if(window.localStorage&&window.XMLHttpRequest)if(t(c))n(localStorage.font_css_cache);else{var o=new XMLHttpRequest;o.open("GET",c,!0),e(o,"load",function(){4===o.readyState&&(n(o.responseText),localStorage.font_css_cache=o.responseText,localStorage.font_css_cache_file=c)}),o.send()}else{var a=document.createElement("link");a.href=c,a.rel="stylesheet",a.type="text/css",document.getElementsByTagName("head")[0].appendChild(a),document.cookie="font_css_cache"}}function n(e){var t=document.createElement("style");t.innerHTML=e,document.getElementsByTagName("head")[0].appendChild(t)}var c="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600";window.localStorage&&localStorage.font_css_cache||document.cookie.indexOf("font_css_cache")>-1?o():e(window,"load",o)}();
		</script>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->