<div id="sidebar">
			<a href="#" id="collapse" class="collapse-sidebar">
				<i class="fa fa-bars"></i>
			</a>
			
			<ul>
				<li>
                    <a href="https://www.facebook.com/preparo1" target="blank" class="fb">
                        <svg><use xlink:href="#icon-facebook"></use></svg>
                    </a>
                </li>
                
                <li>
                    <a href="mailto:info@preparo.de" class="mail">
                        <svg><use xlink:href="#icon-mail"></use></svg>
                    </a>
                </li>
                
                <li>
                    <a href="https://www.linkedin.com/company/preparo" target="blank" class="in">
                        <svg><use xlink:href="#icon-linkedin"></use></svg>
                    </a>
                </li>
                
                <li>
                    <a href="#" class="xing_two">
                        <svg><use xlink:href="#icon-xing"></use></svg>
                    </a>
                </li>
                
                <li>
                    <a href="https://twitter.com/preparo1" target="blank" class="tw">
                        <svg><use xlink:href="#icon-twitter"></use></svg>
                    </a>
                </li>
            </ul>
		</div> <!-- /.sidebar -->