// Animations
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes sidebarInLeft {
    0% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
    100% { 
        opacity: 0; 
        transform: translateX(-60px); 
    } 
}

@keyframes fadeOutLeft { 
    0% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
    100% { 
        opacity: 0; 
        transform: translateX(-20px); 
    } 
} 

@keyframes bounceInUp {
    0% {
        opacity: 0;
        transform: translateY(2000px);
    }
    60% {
        opacity: 1;
        transform: translateY(-30px);
    }
    80% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes flipIn {
    0% {
        transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotateX(-10deg);
    }
    70% {
        transform: perspective(400px) rotateX(10deg);
    }
    100% {
        transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        transform: translateX(30px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes flipInX { 
    0% { 
        transform: perspective(2000px) rotateX(90deg); 
        opacity: 0; 
    } 
    40% { 
        transform: perspective(2000px) rotateX(-10deg); 
    } 
    70% { 
        transform: perspective(2000px) rotateX(10deg); 
    } 
    100% { 
        transform: perspective(2000px) rotateX(0deg); 
        opacity: 1; 
    } 
}

@keyframes placeholder {
    50% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 1);
    }
    51% {
        opacity: 0;
        transform: translate3d(0, -45px, 0) scale3d(0.3, 0.3, 1);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, -45px, 0);
    }
}

.fadeIn {
    animation: fadeIn 1s both;
    visibility: visible !important;
}

.fadeOut {
    animation: fadeOut 1s both;
    visibility: visible !important;
}

.fadeInUp {
    animation: fadeInUp 1s both;
    visibility: visible !important;
}

.fadeInDown {
    animation: fadeInDown 1s both;
}

.fadeInLeft {
    animation: fadeInLeft 1s both;
    visibility: visible !important;
}

.fadeInRight {
    animation: fadeInRight 1s both;
    visibility: visible !important;
}

.fadeOutLeft {
    animation-fill-mode: both;
    animation-name: sidebarInLeft;
    visibility: visible !important;
}

.bounceInUp {
    animation: bounceInUp 1s both;
}

.flipIn {
    backface-visibility: visible !important;
    animation: flipIn 1s both;
    animation-timing-function: ease-out;
    visibility: visible !important;
}

.flipInX { 
    backface-visibility: visible !important; 
    animation-name: flipInX; 
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-delay: .2s;
}

.bounceInLeft {
    animation: bounceInLeft 1s both;
    visibility: visible !important;
    animation-timing-function: ease-out;
}