// Variables
// Screen sizes
@mobile: 767px;
@tablet: 768px;
@desktop: 992px;
@large: 1200px;
@xlarge: 1280px;
// Colors
@brand-green: #3BC6B3;
@flat-white: #F9FAFB;
@flat-navy: #384A5C;
@flat-red: #E74C3C;
@flat-silver: #ECF0F1;

// Mixins
.scrollbars(@size, @foreground-color, @background-color: mix(@foreground-color, white,  50%)) {
    // For Google Chrome
    ::-webkit-scrollbar {
        width:  @size;
        height: @size;
    }

    ::-webkit-scrollbar-thumb {
        background: @foreground-color;
    }

    ::-webkit-scrollbar-track {
        //background: @background-color;
    }

    // For Internet Explorer
    body {
        scrollbar-face-color: @foreground-color;
        scrollbar-track-color: @background-color;
    }
}

.clearfix() {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

// @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    animation: fadeIn .5s;
    padding-top: 65px;

    @media (min-width: @tablet) {
        padding-top: 60px;
    }
}

.disable-hover,
.disable-hover * {
    pointer-events: none !important;
}

main {
    z-index: 2;
}


// Reassign Bootstrap classes
.container {
    &-fluid {
        padding: 0;
    }

    @media (min-width: @large) {
        width: 1024px;
    }
}