<form id="loginForm" class="dropdown-form">
                                    <div class="social-login">
                                        <a class="login-with fb">
                                            <span>Einloggen mit Facebook</span>
                                        </a>
                                    </div>

                                    <p class="popup-about">Oder einloggen per Emailadresse</p>
                                    
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Emailadresse">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Passwort">
                                    </div>

                                    <button type="submit" class="submit-form">Einloggen</button>

                                    <div class="wrap">
                                        <a href="forgot.html" class="forgotpswd">Passwort vergessen?</a>
                                        
                                        <div class="remember">
                                            Eingeloggt bleiben:
                                            <input type="checkbox" id="remember" class="custom-checkbox">
                                            <label for="remember" class="check-box"></label>
                                        </div>
                                    </div>
                                    <p class="not-register">Not registered yet? <a href="pages/register.html">click here</a></p>
                                </form>