<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/libs/jquery/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/libs/bootstrap/js/bootstrap.min.js"></script>
        <script src="/libs/tap/tap.min.js"></script>
        <script src="/scripts/main.js"></script>
        
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','/scripts/analytics.js','ga');

            ga('create', 'UA-64304813-1', 'auto');
            ga('send', 'pageview');
        </script>