.form {
	background: url('../images/landing/bg-sm.jpg') no-repeat center center fixed transparent;
	background-size: cover;
	position: relative;
	height: ~"calc(100vh - 67px)";
	
	@media (min-width: @tablet) {
	    background: url('../images/landing/bg-md.jpg') no-repeat center center fixed transparent;
	    background-size: cover;
	    height: calc(100vh - 61px);
	    height: ~"calc(100vh - 61px)";
	}

	@media (min-width: @desktop) {
	    background: url('../images/landing/bg-lg.jpg') no-repeat center center fixed transparent;
	    background-size: cover;
	}

	.container {
		padding: 0;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	&-align {
		visibility: hidden;
		position: absolute;
		width: 96%;
		top: 50%;
		left: 2%;
		overflow: hidden;
		font-size: 13px;
		
		@media (min-width: @mobile) { // Need to fix
			width: 450px;
			margin-left: -225px;			
		}

		@media (min-width: @tablet) {
		    left: 50%;
		    font-size: 14px;
		}

		@media (min-width: @xlarge) {
		    width: 500px;
		    margin-left: -250px;
		}
	}

	&-wrap {
		position: relative;
	}
	
	.blur {
		background: url('../images/landing/bg-sm.jpg') no-repeat center center fixed transparent;
		background-size: cover;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		filter: blur(5px);
		z-index: -1;
		animation: fadeIn 1s both;
	    animation-delay: .2s;

	    @media (min-width: @tablet) {
		    background: url('../images/landing/bg-md.jpg') no-repeat center center fixed transparent;
		    background-size: cover;
		}

		@media (min-width: @desktop) {
		    background: url('../images/landing/bg-lg.jpg') no-repeat center center fixed transparent;
		    background-size: cover;
		}
	}

	form {
		background: rgba(255,255,255,0.7);
		margin: auto;
		padding: 30px 15px;

		img {
			display: block;
			margin: auto;
			margin-bottom: 15px;
			height: 45px;
		}

		p {

			&.title {
				text-align: center;
				font-size: 16px;

				@media (min-width: @tablet) {
					font-size: 18px;
				}
			}
		}

		.row {
			margin: 0 0 15px;
		}

		@media (min-width: @tablet) {
		    padding: 45px;
		}
	}

	input {
		background: @flat-white;
		border-radius: 0;
		
		@media (min-width: @desktop) {
			font-size: 18px;
		}
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.5);
	}

	@media (max-width: @mobile) {
	    padding: 0 2%;
	}
}

.submit-form {
	width: 100%;
	background: @brand-green;
	height: 34px;
	border: none;
	line-height: 30px;
	text-transform: uppercase;
	color: @flat-white;
	cursor: pointer;
	letter-spacing: 1px;
	transition: all 0.3s;
	display: inline-block;

	&:hover {
		background: darken(@brand-green, 5%);
	}
}

.register-form {
	.submit-form {
		font-size: 18px;
	}

	form p {
		margin-bottom: 15px;
	}
}

.login-form {
	.form-align {
		text-align: center;
	}

	.submit-form {
		margin-bottom: 15px;
	}

	.popup-about {
		font-size: 14px;
		line-height: 35px;
		text-align: center;
	}

	.not-register {
		margin-top: 15px;
	}

	.wrap {
		display: flex;
		justify-content: space-between;
		align-content: center;
		align-items: center;
	}

	.remember span {
		vertical-align: text-top;
	}
}

.register-form {

	@media (max-width: @desktop) and (orientation: landscape) {
		min-height: 470px;
	}
}

.forgot-password {

	@media (max-width: @desktop) and (orientation: landscape) {
		min-height: 360px;
	}

	@media (max-width: @mobile) {
	    form {
			padding: 45px 15px;
		}
	}
}

.verify-email {

	p {
		max-width: 542px;
		margin: auto;
		line-height: 18px;
	}

	.title {
		margin-bottom: 15px;
	}

	.description {
		text-indent: 5px;
	}

	@media (max-width: @desktop) and (orientation: landscape) {
		min-height: 200px;
	}
}


.manage-email {

	form p {
		margin-bottom: 10px;
	}

	.submit-form {
		font-size: 10px;
		border-radius: 4px;

		@media (min-width: @tablet) {
			font-size: 14px;
		}
	}

	.button-holder {
		margin: 10px 0;
		text-align: center;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: space-between;
		align-items: center;

		.submit-form {
			width: auto;
		}
	}

	.error-list {
		margin: 5px 0 10px;
	}
}

.choose-email {

	label {
		width: 100%;
		height: 25px;
		line-height: 25px;

		.clearfix();
	}

	.status {
		float: right;

		li {
			float: left;

			&:last-child {
				margin-left: 5px;
			}

			&.verified,
			&.not-verified {
				&:after {
					content: '|';
					padding-left: 5px;
					color: #000;
				}
			}

			&.verified {
				color: #26A65B;
			}

			&.not-verified {
				color: #E74C3C;
			}

			&.primary {

			}
		}
	}
}


.social-login {
	margin-bottom: 15px;
}

.login-with {
	display: block;
	min-width: 225px;
	box-sizing: border-box;
	position: relative;
	padding: 0 15px 0 46px;
	margin: 0 auto 15px;
	border: none;
	text-align: left;
	line-height: 34px;
	white-space: nowrap;
	border-radius: 0.2em;
	font-size: 16px;
	color: #FFF;
	cursor: pointer;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}

	&:before {
		box-sizing: border-box;
		width: 34px;
		background-repeat: no-repeat;
		background-position: center center;
		z-index: 2;
	}

	&:after {
		width: 100%;
		background-image: linear-gradient(#5B7BD5, #4864B1);
		opacity: 0;
		transition: opacity .2s;
		border-radius: 0.2em;
	}

	&:focus {
		outline: none;
	}

	&:active {
		box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
	}

	span {
		position: relative;
		z-index: 2;
	}

	&.fb {
		// background-color: #4C69BA;
		background-image: linear-gradient(#4c69ba,#3b55a0);
		text-shadow: 0 -1px 0 #354C8C;

		&:before {
			border-right: #364e92 1px solid;
  			background-image: url('../images/landing/facebook.svg');
  			background-size: 15px;
		}

		&:hover, &:focus {
			// background-color: #5B7BD5;
			// background-image: linear-gradient(#5B7BD5, #4864B1);
			text-decoration: none;
			color: white;

			&:after {
				opacity: 1;
			}
		}
	}
}

.remember-me {
	user-select: none;
	float: left;

	span {
		margin-right: 5px;
	}

	input {
		margin: 0;
	}
}


// Custom checkbox
@checked-color: @brand-green;
@unchecked-color: #999;
@checkbox-height: 20px;
@background-color: #BEC0C6;
@font-color: #efefef;
@duration: .4s;

.agree-agb {
	line-height: 25px;
}

.check-box {
    height: @checkbox-height;
    width: @checkbox-height;
    background-color: transparent;
    border: (@checkbox-height*.1) solid @unchecked-color;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    transition: border-color ease (@duration/2);
    cursor:pointer;
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 5px;
    // user-select: none;

    &:before,
    &:after {
        content:' ';
        box-sizing: border-box;
        position: absolute;
        height: 0;
        width: (@checkbox-height * .2);
        background-color: @checked-color;
        display: inline-block;
        transform-origin: left top;
        border-radius: 5px;
        transition: opacity ease .5;
    }

    &:before {
        top: (@checkbox-height * .72);
        left: (@checkbox-height * .41);
        transform: rotate(-135deg);
        // box-shadow: 0 0 0 (@checkbox-height * .05) @flat-white;
    }

    &:after {
        top: (@checkbox-height * .37);
        left: (@checkbox-height * .05);
        transform: rotate(-45deg);
    }
}

.custom-checkbox {
    display:none;

    &:checked ~ .check-box {
        border-color: @checked-color;

        &:after {
            height: (@checkbox-height * 0.5);
            animation: dothabottomcheck (@duration/2) ease 0s forwards;
        }

        &:before {
            height: (@checkbox-height * 1.2);
            animation: dothatopcheck @duration ease 0s forwards;
        }
    }
}

@keyframes dothabottomcheck {
    0% {
        height: 0;
    }
    100% {
        height: (@checkbox-height/2);
    }
}

@keyframes dothatopcheck {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: (@checkbox-height * 1.2);
    }
}