.policies {
	padding: 40px 15px;
	color: #2C3E50;

	::-webkit-scrollbar {
        width:  5px;
    }

    ::-webkit-scrollbar-thumb {
        background: darken(@brand-green, 10%);
    }

	h1 {
		padding: 0 15px;
		font-size: 36px;
		text-align: center;
		margin-bottom: 40px;
	}

	h2 {
		text-align: center;
		font-size: 32px;
		margin-bottom: 20px;
	}

	h4 {
		font-size: 24px;
		font-weight: 300;
		margin: 15px 0 10px;
	}

	address {
		line-height: 22px;
		color: #34495E;
	}

	p {
		line-height: 21px;
		color: #34495E;
		// text-indent: 10px;
	}

	@media (max-width: @desktop) {
	    .col-md-8 {
	    	clear: both;
	    }
	}

	@media (min-width: @tablet) {
	    padding: 40px 0;

	    h1 {
	    	font-size: 48px;
	    }
	}


}

.title-list {

	> li {
		font-size: 24px;
		text-align: center;
    	background: darken(@brand-green, 10%);
    	transition: background .1s linear;
    	margin-bottom: 15px;

    	&:hover {
			background: darken(@brand-green, 5%);	    		
    	}

		a {
			color: #fff;
			padding: 15px 0;
			display: block;
			vertical-align: top;

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	@media (min-width: @desktop) {
		padding-right: 5px;

	    > li {
	    	max-width: 310px;
	    	font-size: 18px;
	    }
	}
}

.navigation-wrap  {
	margin-bottom: 10px;

	@media (min-width: @desktop) {
		position: fixed;
		width: 320px;
		margin: auto;
		margin-bottom: 40px;
		overflow-y: auto;
		max-height: 75%;
	}

	@media (min-width: @large) {
	    
	}
}

.subtitle-list {
	display: none;

	> li {
		font-size: 16px;
		text-align: left;
		padding: 0;
		background: @brand-green;
		border-bottom: 1px solid darken(@brand-green, 10%);
		transition: background .1s linear;

		&:hover {
			background: lighten(@brand-green, 5%);	    		
    	}

		a {
			padding-left: 25px;
		}
	}
}

.section {
	margin-bottom: 50px;
}